body{
    padding: 20px;
}
#fulcontain{
    width: 90%;
}
.header{
    background-color: orange;
    width: 100%;
    height: 80px;
    color: white;
}
.header h1{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 50px;
}
.fullname{
    margin-top: -40px;
    margin-left: 10px;
}
#style{
    background-color: rgb(223, 223, 28);
    width: 100%;
    height: 20px;
}
#style1{
    background-color: orange;
    margin-left: 0px;
    width: 100%;
    height: 20px;
}
.menu{
    background-color: white;
}
.menu a{
    text-decoration: none;
    color: orange;
    font-size:20px;
    padding: 15px;
    display: inline-block;
}
.menu ul{
    display: inline;
    margin:0;
    padding:o;
}
.menu ul li{
    display: inline-block;
    margin-left: 40px;
}
.menu ul li:hover{background: white;}
.menu ul li:hover ul{display: block;}
.menu ul li ul{
    position: absolute;
    width: 200px;
    display: none;
    margin-top: 10px;
    margin-left: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menu ul li ul li{
    background: white;
    display: block;
    margin-left: 0px;
}
.menu ul li ul li a{
    margin-left: -40px;
    margin-top: -15px;
} 
.menu ul li ul li a{display: block!important;}
.menu ul li ul:hover{background: white;}
.picture{
    position: relative;
    margin: 0px;
}
.picture img{
    width: 1225px;
    height: 500px;
}
.first_letter{
    position: absolute;
    font-size: 80px;
    color: orange;
    top: 17px;
    padding: 50px;
    margin-left: 280px;
    margin-top: 30px;
}
.second_letter{
    padding: 150px;
    margin-left: 70px;
    margin-top: 40px;
    position: absolute;
    top: 17px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}
.miss{
    width: 100%;
    margin-top: 10px;
    margin:10px;
}
.miss_left{
    width: 50%;
    margin-top: 20px;
    float: left;
    margin-left: 100px;
    font-size: 90px;
    display: inline-block;
    margin-right: 10px;
}
.miss_left img{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 300px;
    padding: 30px;
}
.miss_middle{
    display: inline-block;
    font-size: 25px;
    margin-left: -150px;
}
.num1{
    background-color: rgb(173, 173, 12);
    margin-left: 30px;
    color: white;
}
.num2{
    margin-top: 100px;
    margin-left: 30px;
    background-color: rgb(173, 173, 12);
    color:white;
}
.miss_right{
    display: inline-block;
    margin-left: 0px;
    padding-top: 60px;
    width: 40%;
    font-size: 22px;
}
.letter{
    padding-top: 40px;
    margin-top: 20px;
    margin-left: 30px;
    color: blue;
}
.viss{
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
   
}
.viss_right{
    margin-left: 70px;
    margin-top: 20px;
    width: 50%;
    font-size: 90px;
    float: left;
}
.viss_incol{
    font-size: 30px;
    margin-top: -5px;
    margin-left: 10px;
    margin-block-end: 40px;
}
.viss_detail{
    text-align: justify;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    
}
.viss_detail p{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
    margin-bottom: 20px;
}
.contact{
    background-color: #15284C;
    margin-top: 290px;
    width: 100%;
}
.contact h1{
    margin-left: 30px;
    color: white;
}
.size{
    margin-left: 30px;
    font-size: 15px;
    color: white;
}
.size table,th,tr{
    margin-top: 10px;

    border-collapse: collapse;
    width: 100px;
}
.size table th{
    font-size: 15px;
}
.size tr th img{
    width: 40px;
}
.size th{
    text-align: justify;
    text-align: center;
    font-size: 15px;
}
.size table{
    width: 100%;
}


