/* CSS for <!--logo and navbar--> starts here*/
@font-face {
    src: url(fonts/CADTMonoDisplay-Regular.ttf);
    font-family: cadt;
}
@font-face {
    src: url(fonts/Niradei-Regular\ \(2\).ttf);
    font-family: niradei;
}
html{
    scroll-behavior: smooth;
}
body{   
    margin : 0;
}
.full_container{
    width: 100%;
}
.content{
    width: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.header{
    width: 100%;
    background-color: #F58C29;
}
.logo img{
    max-width: 200px;
    padding: 15px 15px 15px 30px;
}
#yellow_stripe{
    width: 100%;
    height: 10px;
    background-color: rgb(223, 223, 28);
}
.navbar {
    width: 100%;
    height: 60px;
    background-color: #ebecf0;
}
.navbar li{
    padding-left: 50px;
}
.nav-link {
    color: #F58C29;
    font-family: cadt;
    word-spacing: -5px;
    margin-right: 30px;
    transition: transform .2s; /* Animation */
}
.nav-link:hover{
    transform: scale(1.05);
}
.nav-bg{
    background-color: #f58c29;
    padding-right: 15px;
    border-radius: 10px;
}
.nav-bg:hover{
    scale: 1.05;
}
.nav-link c{
    color: white;
}
.nav-link b{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 15px;
}
.dropdown-menu li a{
    color: rgb(223, 223, 28);
    font-family: niradei;
    font-size: 15px;
    font-weight: bold;
}
.dropdown-menu li a:hover{
    color: gray;
    width: max-content;
}
.dropdown-item{
    margin-left: -40px;
    margin-right: 10px;
}
@media all  {
	.navbar .nav-item:hover .dropdown-menu{ 
        display: block;
    }
	.navbar .nav-item .dropdown-menu{ 
        margin-top: 0; 
    } 
}
.container-xxl{
    margin-top: 60px;
    margin-bottom: 60px;
}
.left-content{
    margin-right: 50px;
}
.header-title{
    margin-bottom: 50px;
}
.header-title > h2{
    color: #15284c;
    font-weight: bold;
    text-transform: uppercase;
    
}
.header-title > p{
    font-size: 14px;
    font-family: niradei;
}
.intro{
    font-size: 16px;
    font-family: niradei;
    line-height: 32px;
    text-align: justify;
    color: #15284c;
}
.main-content > .cscf_name{
    float: right;
    width: 400px;
    padding: 20px 0px 0px 20px;
}
.main-content > .cscf_img{
    margin-top: 50px;
    margin-bottom: 30px;
}
.main-content img{
    display: block;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
figcaption{
    font-style: italic;
    font-weight: 300px;
    font-size: 13px;
    line-height: 27.2px;
    text-align: center;
    color: #555;
}
.main-content > .volunteers-img{
    float: left;
    width: 400px;
    padding: 50px 20px 0px 0px;
}
.details{
    margin-top: 20px;
    font-size: 16px;
    font-family: niradei;
    line-height: 32px;
    text-align: justify;
    color: #15284c;
}
.right-sidebar{
    background-color: white;
    height: 100%;
    border-left: solid 1px;
    border-left-color: #e7e7e7;
}
.right-sidebar > h4{
    color: #15284c;
    font-size: 27px;
}
.right-sidebar > p > a{
    color: #878887;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
.right-sidebar > p > a:hover{
    color: #adcfd0;
    text-decoration: underline;
}
/* footer */
#orange_stripe{
    width: 100%;
    height: 30px;
    background-color: #F58C29;
}
.contact{
    background-color: #15284C;
}
.contact_title{
    color: white;
    font-family: cadt;
    font-size: 50px;
}
.contact_info{
    color: white; 
}
.contact_info > .container-lg{
    padding: 0px 0px 30px 0px;
}
.contact_address img{
    width: 25%;
}
.contact_telegram img{
    width: 25%;
}
.contact_facebook img{
    width:25%;
}
.contact_mail img{
    width:25%;
}
.contact_info_type{
    font-family: cadt;
    margin: 10px 0px 10px 0px;

}
.contact_info_type_detail{
    font-family: niradei;
    margin-bottom: 10px;
}
.contact_info_type_detail p a{
    color: white;
    text-decoration: none;
}
.contact_info_type_detail p a:hover{
    color: #2764ca;
    text-decoration: underline;
}
/* hover animation */
.hover_txt {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}
.hover_txt:hover {
    transform: scale(1.1);
}