/* CSS for <!--logo and navbar--> starts here*/
@font-face {
    src: url(./fonts/CADTMonoDisplay-Regular.ttf);
    font-family: cadt;
}
@font-face {
    src: url(./fonts/Niradei-Regular\ \(2\).ttf);
    font-family: niradei;
}
body{
    margin : 0;
}
.full_container{
    width: 100%;
}
.content{
    width: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.header{
    width: 100%;
    background-color: #F58C29;
}
.logo img{
    max-width: 200px;
    padding: 15px;
}
#yellow_stripe{
    width: 100%;
    height: 10px;
    background-color: rgb(223, 223, 28);
}
.navbar {
    width: 100%;
    height: 60px;
    background-color: #EBECF0;
}
.navbar li{
    padding-left: 50px;
}
.nav-link {
    color: #F58C29;
    font-family: cadt;
}
.dropdown-menu li a{
    color: rgb(223, 223, 28);
    font-family: cadt;
}
.dropdown-menu li a:hover{
   color: gray;
}
@media all  {
	.navbar .nav-item .dropdown-menu{ display: none; 
        list-style: none;
        margin-left: none;
    }
    .navbar .nav-item:hover .nav-link{   
        color: rgb(223, 223, 28);
    }
	.navbar .nav-item:hover .dropdown-menu{ 
        display: block;
    }
	.navbar .nav-item .dropdown-menu{ 
        margin-top:0; 
    }
    .navbar .nav-link:hover{
        color: rgb(223, 223, 28);
    }
}
.img_header img{
    width: 100%;
    height: 20%;
}
.header_hover{
    font-size: 50px;
    font-family: cadt;
    color: white;
    position: absolute;
    top: 265px;
    left: 435px;
    word-spacing: -20px;
}
.header_hover a{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 45px;
}
.row_box_content{
    display: flex;
    height: 300px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 125px;
}
.box_content{
    background-color: #f9fcff;
    width: 25%;
    margin-right: 100px;
}
.box_content img{
    width: 100%;
    height: 200px;
    margin: 10px 0px 10px 0px
}
.box_content h5{
    text-align: center;
    margin-top: 20px;
    font-family: cadt;
    font-size: 16px;
}
.box_content h5:hover{
    
}
#orange_stripe{
    width: 100%;
    height: 30px;
    background-color: #F58C29;
}
.contact{
    background-color: #15284C;
}
.vision_description span{
    color: #F58C29;
}
.contact_title{
    width: 100%;
    color: white;
    font-family: cadt;
    font-size: 50px;
    padding-top: 30px;
    padding-left: 120px;
}
.contact_info{
    width: 100%;
    display: flex;
    padding-left: 60px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white; 
    text-align: center;
}
.contact_address{
    width: 25%;
}
.contact_info img{
    max-width:80px;
    height: 80px;
}
.contact_address{
    width: 25%;
}
.contact_facebook{
    width:25%;
}
.contact_mail{
    width:25%;
}
.contact_info_type{
    margin-top: 10px;
    font-family: cadt;
}
.contact_info_type_detail{
    margin-top: 5px;
    font-family: niradei;
}