/* CSS for <!--logo and navbar--> starts here*/
@font-face {
    src: url(fonts/CADTMonoDisplay-Regular.ttf);
    font-family: cadt;
}
@font-face {
    src: url(fonts/Niradei-Regular\ \(2\).ttf);
    font-family: niradei;
}
html{
    scroll-behavior: smooth;
}
body{   
    margin : 0;
}
.full_container{
    width: 100%;
}
.content{
    width: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.header{
    width: 100%;
    background-color: #F58C29;
}
.logo img{
    max-width: 200px;
    padding: 15px 15px 15px 30px;
}
#yellow_stripe{
    width: 100%;
    height: 10px;
    background-color: rgb(223, 223, 28);
}
.navbar {
    width: 100%;
    height: 60px;
    background-color: #ebecf0;
}
.navbar-nav{
    background-color: #ebecf0;
}
.navbar li{
    padding-left: 50px;
}
.nav-link {
    color: #F58C29;
    font-family: cadt;
    word-spacing: -5px;
    margin-right: 30px;
    transition: transform .2s; /* Animation */
}
.nav-link:hover{
    transform: scale(1.05);
}
.nav-link b{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 15px;
}
.nav-bg{
    background-color: #f58c29;
    border-radius: 10px;
}
.nav-bg:hover{
    scale: 1.05;
}
.nav-link c{
    color: white;
}
.dropdown-menu li a{
    color: rgb(223, 223, 28);
    font-family: niradei;
    font-size: 15px;
    font-weight: bold;
}
.dropdown-menu li a:hover{
    color: gray;
    width: max-content;
}
.dropdown-item{
    margin-left: -40px;
    margin-right: 10px;
}
@media all  {
	.navbar .nav-item:hover .dropdown-menu{ 
        display: block;
    }
	.navbar .nav-item .dropdown-menu{ 
        margin-top: 0; 
    }
}
/* CSS for <!--logo and navbar--> ends here*/
.picture img{
    width: 100%;
} 
/* .mission{
    width: 100%;
    display: flex;
}
.mission_leftside{
    width: 40%;
}
.mission_rightside{
    margin-top: 100px;
    width: 60%;
    margin-bottom: 40px;
}
.mission_title{
    font-family: cadt;
    font-size: 50px;
    color: #15284C;
    padding-top: 30px;
    padding-left: 120px;
}
.mission img{
    max-width: 400px;
    padding-top: 30px;
    padding-left: 100px;
}

.rightside dl{
    padding-top: 20px;
}
.list h1{
    font-family: cadt;
    color: #15284C;
    background-color: yellow;
  
}
.list p{
    font-family: niradei;
    color: #15284C;
    font-size: 20px;
    background-color: #EBECF0;
}
.vision{
    width: 100%;
    display: flex;
}
.vision_leftside{
    width: 60%;
}
.vision_rightside{
    width: 40%;
    margin-bottom: 40px;
}
.vision_main_title {
    font-family: cadt;
    font-size: 50px;
    color: #15284C;
    padding-top: 30px;
    padding-left: 120px;
}
.vision_subtitle {
    font-family: niradei;
    font-size: 30px;
    color: #15284C;
    padding-left: 120px;
    background-color: yellow;
    width:max-content;
    margin-bottom: 50px;
}
.vision_description {
    font-family: niradei;
    font-size: 20px;
    color: #15284C;
    padding-left: 120px;
    line-height: 40px;
    background-color: #EBECF0;
    height: -100px;
}
.vision_rightside img {
    width: 350px;
    padding-top: 60px;
    padding-left: 100px;
}
.vision_description span{
    color: #F58C29;
} */
.mission_title{
    font-family: cadt;
    font-size: 50px;
    color: #15284C;
}
.mission_description img{
    max-width: 400px;
    padding-top: 80px;
    padding-left: 80px;
}
.mission_description{
    margin-top: 100px;
    margin-bottom: 40px;

}
.list h1{
    font-family: cadt;
    color: #15284C;
    background-color: #ebecf0
}
.list p{
    font-family: niradei;
    color: #15284C;
    font-size: 20px;
}
.vision img{
    max-width: 280px;
}
.vision_main_title{
    font-family: cadt;
    font-size: 50px;
    color: #15284C;
}
.vision_subtitle{
    font-family: niradei;
    font-size: 30px;
    color: #15284C;
    margin-bottom: 50px;
}
.vision_description {
    font-family: niradei;
    font-size: 22px;
    color: #15284C;
    line-height: 40px;
    background-color: #EBECF0;
}



/* footer */
#orange_stripe{
    width: 100%;
    height: 30px;
    background-color: #F58C29;
}
.contact{
    background-color: #15284C;
}
.contact_title{
    color: white;
    font-family: cadt;
    font-size: 50px;
}
.contact_info{
    color: white; 
}
.contact_info > .container-lg{
    padding: 0px 0px 30px 0px;
}
.contact_address img{
    width: 25%;
}
.contact_telegram img{
    width: 25%;
}
.contact_facebook img{
    width:25%;
}
.contact_mail img{
    width:25%;
}

.contact_info_type{
    font-family: cadt;
    margin: 10px 0px 10px 0px;

}
.contact_info_type_detail{
    font-family: niradei;
    margin-bottom: 10px;
}
.contact_info_type_detail p a{
    color: white;
    text-decoration: none;
}
.contact_info_type_detail p a:hover{
    color: #2764ca;
    text-decoration: underline;
}