/* CSS for <!--logo and navbar--> starts here*/
@font-face {
    src: url(fonts/CADTMonoDisplay-Regular.ttf);
    font-family: cadt;
}
@font-face {
    src: url(fonts/Niradei-Regular\ \(2\).ttf);
    font-family: niradei;
}
html{
    scroll-behavior: smooth;
}
body{   
    margin : 0;
}
.full_container{
    width: 100%;
}
.content{
    width: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.header{
    width: 100%;
    background-color: #F58C29;
}
.logo img{
    max-width: 200px;
    padding: 15px 15px 15px 30px;
}
#yellow_stripe{
    width: 100%;
    height: 10px;
    background-color: rgb(223, 223, 28);
}
.navbar {
    width: 100%;
    height: 60px;
    background-color: #ebecf0;
}
.navbar li{
    padding-left: 50px;
}
.nav-link {
    color: #F58C29;
    font-family: cadt;
    word-spacing: -5px;
    margin-right: 30px;
    transition: transform .2s; /* Animation */
}
.nav-link:hover{
    transform: scale(1.05);
}
.nav-bg{
    background-color: #f58c29;
    border-radius: 10px;
}
.nav-bg:hover{
    scale: 1.05;
}
.nav-link c{
    color: white;
}
.nav-link b{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 15px;
}
.dropdown-menu li a{
    color: rgb(223, 223, 28);
    font-family: niradei;
    font-size: 15px;
    font-weight: bold;
}
.dropdown-menu li a:hover{
    color: gray;
    width: max-content;
}
.dropdown-item{
    margin-left: -40px;
    margin-right: 10px;
}
@media all  {
	.navbar .nav-item:hover .dropdown-menu{ 
        display: block;
    }
	.navbar .nav-item .dropdown-menu{ 
        margin-top: 0; 
    }
}
#orange_stripe{
    width: 100%;
    height: 30px;
    background-color: #F58C29;
}
.struct{
    background-color: #F58C29;
}
.struct h1{
    color: white;
    font-family: cadt;
    font-size: 50px;
    width: 100%;
    text-align: center;
    padding: 20px 0px 25px 0px;
}
.main{
    margin-top: -8px;
    width: 100%;
}
.main img{
    width: 100%;
    margin: 100px 0px 100px 0px;
}
.first_team{
    margin-top: 10px;
}
.first_team h1{
    color: #1a237e;
    font-family: niradei;
    text-align: center;
    font-size: 50px;
}
.first_team h2{
    color:  #F58C29;
    text-align: center;
    font-family: cadt;
    font-size: 45px;
    margin-top: 50px;

}
.first_team img{
    margin-top: 10px;
    width: 100%;
}
/* footer */
.contact{
    background-color: #15284C;
}
.contact_title{
    color: white;
    font-family: cadt;
    font-size: 50px;
}
.contact_info{
    color: white; 
}
.contact_info > .container-lg{
    padding: 0px 0px 30px 0px;
}
.contact_address img{
    width: 25%;
}
.contact_telegram img{
    width: 25%;
}
.contact_facebook img{
    width:25%;
}
.contact_mail img{
    width:25%;
}

.contact_info_type{
    font-family: cadt;
    margin: 10px 0px 10px 0px;

}
.contact_info_type_detail{
    font-family: niradei;
    margin-bottom: 10px;
}
.contact_info_type_detail p a{
    color: white;
    text-decoration: none;
}
.contact_info_type_detail p a:hover{
    color: #2764ca;
    text-decoration: underline;
}