/* CSS for <!--logo and navbar--> starts here*/
@font-face {
    src: url(fonts/CADTMonoDisplay-Regular.ttf);
    font-family: cadt;
}
@font-face {
    src: url(fonts/Niradei-Regular\ \(2\).ttf);
    font-family: niradei;
}
html{
    scroll-behavior: smooth;
}
body{   
    margin : 0;
}
.full_container{
    width: 100%;
}
.content{
    width: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.header{
    width: 100%;
    background-color: #F58C29;
}
.logo img{
    max-width: 200px;
    padding: 15px 15px 15px 30px;
}
#yellow_stripe{
    width: 100%;
    height: 10px;
    background-color: rgb(223, 223, 28);
}
.navbar {
    width: 100%;
    height: 60px;
    background-color: #ebecf0;
}
.navbar-nav{
    background-color: #ebecf0;
}
.navbar li{
    padding-left: 50px;
}
.nav-link {
    color: #F58C29;
    font-family: cadt;
    word-spacing: -5px;
    margin-right: 30px;
    transition: transform .2s; /* Animation */
}
.nav-link:hover{
    transform: scale(1.05);
}
.nav-bg{
    background-color: #f58c29;
    border-radius: 10px;
}
.nav-bg:hover{
    scale: 1.05;
}
.nav-link c{
    color: white;
}
.nav-link b{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 15px;
}
.dropdown-menu li a{
    color: rgb(223, 223, 28);
    font-family: niradei;
    font-size: 15px;
    font-weight: bold;
}
.dropdown-menu li a:hover{
    color: gray;
    width: max-content;
}
.dropdown-item{
    margin-left: -40px;
    margin-right: 10px;
}
@media all  {
	.navbar .nav-item:hover .dropdown-menu{ 
        display: block;
    }
	.navbar .nav-item .dropdown-menu{ 
        margin-top: 0; 
    }
}
/* CSS for <!--logo and navbar--> ends here*/
.student_club img{
    width: 100%;
}
#orange_stripe{
    width: 100%;
    height: 30px;
    background-color: #F58C29;
}
.title_box{
    width: 100%;
}
.club_title{
    width: 100%;
    font-family: cadt;
    font-size: 30px;
    padding-top: 30px;
    color: yellow;
    display: flex;
    padding-left: 20px;
}
.title{
    width: 32.5%;
   
}
.yellow_line{
    width: 67.5%;
    height: 10px;
    background-color: yellow;
    margin-top: 20px;
    margin-left: 20px;
    
}
.main_box{
    display: inline-block;
}
.boxes{
    width: 100%;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    display: flex;
    align-items: flex-start;
}

.box_content {
    width: 25%;
    min-height: 400px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    background-color: #EBECF0;
    border-radius: 5%;
    margin-right: 10px;
    margin-left: 10px;
}
.box_content img{
    width: 100%;
    border-radius: 5%;
}
.details{
    padding-top: 10px;
}
.club_name{
    font-family: cadt;
}
.description{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: niradei;
}
.box_content:hover{
    scale: 1.05;
    box-shadow: 0 0 10px #F58C29;
}
#art_club_title{
    width: 19%;
}
#art_club_yellow_line{
    width: 81%;
}
#sport_club_title{
    width: 23%;
}
#sport_club_yellow_line{
    width: 77%;
}
#sport_title_box{
    margin-bottom: 50px;
}
/* footer */
.contact{
    background-color: #15284C;
}
.contact_title{
    color: white;
    font-family: cadt;
    font-size: 50px;
}
.contact_info{
    color: white; 
}
.contact_info > .container-lg{
    padding: 0px 0px 30px 0px;
}
.contact_address img{
    width: 25%;
}
.contact_telegram img{
    width: 25%;
}
.contact_facebook img{
    width:25%;
}
.contact_mail img{
    width:25%;
}

.contact_info_type{
    font-family: cadt;
    margin: 10px 0px 10px 0px;

}
.contact_info_type_detail{
    font-family: niradei;
    margin-bottom: 10px;
}
.contact_info_type_detail p a{
    color: white;
    text-decoration: none;
}
.contact_info_type_detail p a:hover{
    color: #2764ca;
    text-decoration: underline;
}